@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,400;0,600;1,700&family=Raleway:ital,wght@0,100;1,300&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
}
a{
    text-decoration: none;

}


ul{
    list-style: none;
}

header{
    display: flex;
    background-color: rgba(182, 172, 172, 0.103);
        /* backdrop-filter: blur(2px); */
    justify-content: space-around;
    padding: 1.1rem 0;
    align-items: center;
    position: absolute;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
       
        z-index: 1;
        width: 100%;
        position: fixed;
}


.logo{
    display:flex;
    align-items: center;
}
.logo-img {
    width: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

.header_logo{
    color: black;
    font-weight: 600;
}

.nav_list{
    display: flex;
    align-items: center;
}

.nav_item{
    margin: 0 30px;
}


.nav_link{
    padding: 6px;
    color: black;
    font-size: 0.9rem;
    font-weight: 200;
    /* border-radius: 5px; */
    transition: all ease-in-out 0.35s;
    cursor: pointer;
}
.nav_item{
    padding: 6px;
    color: black;
    font-size: 0.9rem;
    font-weight: 200;
    /* border-radius: 5px; */
    transition: all ease-in-out 0.35s;
    cursor: pointer;
}

.nav_item:hover {
    background-color: #4ea8a7a8;
}
.header_toggle,
.header_close{
    display:none;
}

@media screen and (max-width: 768px) {
    header {
        height: 48px;
        justify-content: space-between;
        padding: 0 28px;
    }
    .logo a{
        font-size: 0.9rem;

    }
    .logo img {
        width: 30px;
    }

    .header_toggle {
        display: inline;
        color: #030303ee;
        font-size: 24px;
    }
        .header_toggle:hover {
            background-color: #4ea8a6;
            border-radius: 50px;
            width: 30px;
            height: 30px;
        }
    .header_close{
        position: absolute;
        right: 24px;
        display: block;
        font-size: 24px;
        border-radius: 50%;
        color: #030303ee;

    }
    .header_close:hover{
        background-color: #4ea8a6;
    }
    .nav{
        position: fixed;
        top: 0;
        right: -100%;
        background-color: rgba(187, 168, 168, 0.4);
            -webkit-backdrop-filter: blur(5px);
            backdrop-filter: blur(18px);
        color: #eeee;
        width: 60%;
        height: 100vh;
        padding: 24px 0;
        z-index: 100;
        transition: 0.5s;
        border-radius: 0 0 0 50%;
    }
    .nav_list{
        display:flex;
        flex-direction: column;
    }
    .nav_item{
        margin: 2rem 0;
    }
    .show{
        right: 0;
    }
        .oyin {
            background-color: red;
            width: 100%;
            /* height: 100vh; */
            margin-top: -7px;
            position: relative;
            top: 330px;
    
    
        }
}






/* nav{
    background-color: pink;
    width: 100%;
    height: 10vh;
    z-index: 1000;
} */

.mma{
     max-width: 100%;
        max-height: 100%;
        display: block;
        /* width: 0%; */
}
.text{
   
    color: black;
        /* font-size: 0.9rem; */
        font-size: clamp(1rem, 4vw, 3rem);
        font-weight: 500;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
}
.tet{
    position: relative;
        top: 150px;
        background-color: pink;
        width: 100%;
        /* height: 20vh; */
}
.bg-video{
    width: 100%;
}
video{
    width: 100%;
    max-width: 100%;
}

.ii{
    width: 100%;
    height: 30vh;
    background-color: green;
}

