@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.container {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-image: url('./img/Group\ 2\ \(5\).png'); */
    /* transition: background-color 300ms; */

    column-gap: 30px;
}

.imma {
    width: 100%;
    height: 100%;

    max-width: 100%;
}

.form {
    background: rgba(255, 255, 255, 0.066);
    backdrop-filter: blur(10px);
    /* max-width: 500px; */
    /* width: 100%; */
    padding: 0px;
    height: 590px;
    border-radius: 20px;
    
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    box-shadow: 5px 0px 16px rgba(15, 15, 15, 0.609);
}

#emo {
    color: rgb(255, 221, 26);
    font-size: 70px;
    /* align-items: center; */
    display: flex;
    justify-content: center;
    margin-bottom: 19px;
}

.bb:hover {
    background-color: red;
}

header {
    font-size: 26px;
    font-weight: 600;
    color: #17191c;
    /* text-align: center; */
}

form {
    margin-top: 30px;
}

.form .field {
    position: relative;
    height: 50px;
    width: 100%;
    margin-top: 18px;
    border-radius: 6px;
    /* display: flex;
        align-items: center;
        justify-content: center; */
}

.field input,
.field button {
    height: 100%;
    /* width: 100%; */
    border: none;
    font-size: 16px;
    font-weight: 400;
    border-radius: 6px;
    background: rgba(255, 255, 255, 0);
    backdrop-filter: blur(1px);
    color: #0807079d;
    width: 25vw;


}

.field input {
    outline: none;
    border: 1px solid #cacaca;   
    padding: 0 15px;

}

.field input:focus {
    border-color: #4070f4;
    
}

.eye-icon {
    position: absolute;
    top: 50%;
    right: 10px;
    font-size: 18px;
    color: #8b8b8b;
    cursor: pointer;
    padding: 5px;
    transform: translateY(-50%);
}

.field button {
    color: #fff;
    /* background-color: rgba(7, 7, 7, 0.126);
    backdrop-filter: blur(4px); */
    background-color:#377c80;
    transition: all 0.3s ease;
    cursor: pointer;
    width: 25vw;
}

.field button:hover {
    background-color: #153339;
    color: #ffffff8c;
}

.form-link {
    /* text-align: center; */
    margin-top: 10px;
}

.form-link span,
.form-link a {
    font-size: 14px;
    font-weight: 400;
    color: #717785;
}

.form a {
    text-decoration: none;
    color: #0171d395;
}

.form-content a:hover {
    text-decoration: underline;
}

.line {
    position: relative;
    background-color: #d4d4d4;
    margin: 36px 0;
    height: 1px;
    width: 100%;
}

.line::before {
    content: 'or';
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: #fff;
    color: #8b8b8b;
    padding: 0px 15px;
    transform: translate(-50%, -50%);
}

.media-options a {
    display: flex;
    align-items: center;
    justify-content: center;
}

a.facebook {
    color: #fff;
    background-color: #4267b2;
}

a.facebook .facebook-icon {
    height: 28px;
    width: 28px;
    color: #0171d3;
    font-size: 20px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
}

.none {
    display: none;
}
.form-content{
    /* background-color: red; */
    height: 100%;
    width: 30vw;
    overflow: hidden;
    border-radius: 20px 0px 0px 20px;
}
.form-content1{
    height: 80%;
    width: 40vw;
    padding: 50px;
    
    
}

.facebook-icon {
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
}

a.google {
    border: 1px solid #cacaca;
}

a.google span {
    font-weight: 500;
    opacity: 0.6;
    color: #232836;
}
.bg-video {
    width: 100%;
    /* height: 100%; */
    /* background-color: pink; */
    overflow: hidden;
        display: flex;
        justify-content: center;
       
}

video {
    width: 500px;
  
    max-width: 500px;
    /* height: 100%; */
}